:root {
  --color-1: #5b647d;
  --color-2: #ffa6c1;
  --color-3: #99d98c;
  --color-4: #90caf9;
  --color-5: #ffee99;

  --primary-font: "Klee One",
    sans-serif;
}

a {
  text-decoration: none;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--color-1);
  padding: 5px;
}

p {
  font-family: var(--primary-font);
}

header a:hover {
  color: white;
  border-radius: 10px;
}

header li:first-child a:hover {
  background-color: none;
}

header li:nth-child(2) a:hover {
  background-color: var(--color-2);
}

header li:nth-child(3) a:hover {
  background-color: var(--color-4);
}

header li:last-child a:hover {
  background-color: var(--color-3);
}

header nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

header nav li:first-child {
  margin-right: auto;
}

header nav li:last-child {
  margin-right: 2rem;
}

header nav img {
  width: 12vw;
}




main {
  display: grid;
  align-items: center;
  justify-content: center;
}

.division-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.division-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav li {
  display: flex;
  list-style: none;
}

.bestsellers1,
.bestsellers3 {
  grid-column: 1/2;
}

.bestsellers2,
.bestsellers4 {
  grid-column: 2/3;
}

article a:hover {
  animation: glow 1s infinite;
  opacity: 100%;

}

@keyframes glow {

  0%,
  100% {
    filter: brightness(100%) drop-shadow(0 0 -1px hotpink);
  }

  50% {
    filter: brightness(110%) drop-shadow(0 0 40px hotpink);
  }
}

.best-sellers1 {
  box-shadow: brown;
}

.best-sellers2 {
  box-shadow: green;
}

.best-sellers3 {
  box-shadow: palevioletred;
}

.best-sellers4 {
  box-shadow: black;
}

.main-images {
  width: 22vw;
  height: 40vw;
}

.recipes {
  grid-column: 1/2;
}

.utilities {
  grid-column: 2/3;
}

.frostings {
  grid-column: 3/4;
}