:root {
  --color-1: #5b647d;
  --color-2: #ffa6c1;
  --color-3: #99d98c;
  --color-4: #90caf9;
  --color-5: #ffee99;

  --primary-font: "Klee One", sans-serif;
}

header {
  background-image: url(img/bcg.png);
  overflow: hidden;
}

a {
  text-decoration: none;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--color-1);
  padding: 5px;
}

.front-page-title {
  grid-column: 1/3;
  font-family: "Klee One", sans-serif;
}

figcaption {
  font-size: 20px;
}

.pic-title {
  grid-column: 1/2;
  font-family: "WindSong", cursive;
  text-align: center;
}

.ing {
  font-family: "WindSong", cursive;
}
.ingredients,
.utilities-di,
.frosting-di {
  grid-column: 2/3;
  margin-left: 1.5rem;
  background-color: #efe6f3;
}

.image-fetched {
  grid-column: 1/2;
  display: block;
  width: 60%;
  margin: 0 auto;
}

.best-sellers2,
.best-sellers4,
.ingredients {
  grid-column: 2/3;
}

.Frostings {
  grid-column: 3/4;
}

.instructions,
.techniques,
.creds,
.toppings {
  grid-column: 1/3;
}
.recipes,
.cake-pic,
.best-sellers1,
.best-sellers3 {
  grid-column: 1/2;
}

.utilities {
  grid-column: 2/3;
  font-family: "Klee One", sans-serif;
}

.frostings {
  grid-column: 3/4;
}

.hidden {
  visibility: hidden;
}
p {
  font-family: var(--primary-font);
}

header a:hover {
  color: white;
  border-radius: 10px;
}

header li:first-child a:hover {
  background-color: none;
}

header li:nth-child(2) a:hover {
  background-color: var(--color-2);
}

header li:nth-child(3) a:hover {
  background-color: var(--color-4);
}

header li:last-child a:hover {
  background-color: var(--color-3);
}

header nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

header nav li:first-child {
  margin-right: auto;
}

header nav li:last-child {
  margin-right: 2rem;
}

header nav img {
  width: 12vw;
}

main {
  display: grid;
  align-items: center;
  justify-content: center;
}

.division-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.division-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 2em;
}

.recipe-division {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9rem;
  margin-right: 9rem;
}

nav li {
  display: flex;
  list-style: none;
}
p.hi {
  margin-top: -190px;
  color: white;
}

article a:hover {
  animation: glow 1s infinite;
  opacity: 100%;
}

article a.glow1:hover {
  animation: glow-c1 1s infinite;
  opacity: 0.6;
}

@keyframes glow-c1 {
  0%,
  100% {
    filter: brightness(100%) drop-shadow(0 0 -1px #ffa6c1);
  }

  50% {
    filter: brightness(110%) drop-shadow(0 0 40px #ffa6c1);
  }
}

article a.glow2:hover {
  animation: glow-c2 1s infinite;
  opacity: 0.6;
}

section a:hover {
  opacity: 0.6;
}

@keyframes glow-c2 {
  0%,
  100% {
    filter: brightness(100%) drop-shadow(0 0 -1px #90caf9);
  }

  50% {
    filter: brightness(110%) drop-shadow(0 0 40px #90caf9);
  }
}

article a.glow3:hover {
  animation: glow-c3 1s infinite;
  opacity: 0.6;
}

@keyframes glow-c3 {
  0%,
  100% {
    filter: brightness(100%) drop-shadow(0 0 -1px #99d98c);
  }

  50% {
    filter: brightness(110%) drop-shadow(0 0 40px #99d98c);
  }
}

.main-images {
  width: 22vw;
  height: 40vw;
}

.other-pics1 {
  width: 27vw;
  height: 13vw;
  box-shadow: -9px 9px #99d98c;
}

.other-pics2 {
  width: 27vw;
  height: 13vw;
  box-shadow: -9px 9px #ffa6c1;
}

.other-pics3 {
  width: 27vw;
  height: 13vw;
  box-shadow: -9px 9px #90caf9;
}

.other-pics4 {
  width: 27vw;
  height: 13vw;
  box-shadow: -9px 9px #ffee99;
}

footer {
  margin-top: 5rem;
  background-color: var(--color-1);
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 1.5rem;
  font-size: 1.4rem;
}
